<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758828655798-osuj90na6gdj5o6bguubqhb514isj63v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758828655798-osuj90na6gdj5o6bguubqhb514isj63v</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Hn8j9nmZBKE1_bFEU6W2Sk_cNYtL19A</string>
	<key>GCM_SENDER_ID</key>
	<string>758828655798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.libmot.libmotmobile</string>
	<key>PROJECT_ID</key>
	<string>libmot-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>libmot-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758828655798:ios:c5ce0ca070893b277ab217</string>
	<key>DATABASE_URL</key>
	<string>https://libmot-firebase.firebaseio.com</string>
</dict>
</plist>